@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Circle Amolens";
  src: url("../../public/font/CircleAmolensRegular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  border: solid ed;
}

body {
  background-color: #060e23;
  /* background-color: #fff; */

  color: #fff;
}
.container {
  center: true;
}

.main {
  background: linear-gradient(63deg, rgba(255, 109, 0, 0.2) 0%, rgba(36, 0, 70, 0.3) 98.79%), linear-gradient(245deg, #340660 0%, #380766 120.85%);
}

.join {
  background: linear-gradient(180deg, rgba(39, 5, 72, 0) 0%, #270548 69.5%);
}

.event {
  background: linear-gradient(180deg, rgba(11, 14, 26, 0) 0%, #0b0e1a 9.4%);
}

.decimal {
  list-style-type: decimal;
}

.alpha {
  list-style-type: lower-alpha;
}

.disc {
  list-style-type: disc;
}

.roman {
  list-style-type: upper-roman;
}